// import the CSS framework
@import "bootstrap-sprockets";

$gray-dark: #333;
$gray: #666;
$gray-light: #999;
$brand-primary: #cc0033;
$brand-success: #96c926;
$brand-warning: #f58229;
$container-large-desktop: 1024px;
$nav-link-hover-bg: darken($brand-primary, 5%);

$table-bg-accent: #eee;


@import "bootstrap";

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
}

// override for the 'Home' navigation link
.navbar-brand {
  font-size: 1.7em;
  height: 65px;
  padding: 0px 20px;
}

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
}
.form {
  @extend .col-md-6;
}
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
}
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
}

// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  padding-bottom: 80px;
  margin-top: -10px; // accommodate the navbar
  background: white;
  padding-left: 20px;
  padding-right: 20px;
}

section {
  @extend .row;
  margin-top: 20px;
}

body {
  background: #eee;
}
abbr[title], abbr[data-original-title] {
  color: red;
}

.btn {
  margin-right: 5px;
}

.btn-default {
  color: #f58229;
}

.text-primary {
  color: $brand-primary;
}

.text-danger {
  color: $brand-primary;
}

.text-warning {
  color: $brand-warning;
}

.text-success {
  color: $brand-success;
}
/*
.btn-dark-red {
  background-color: #bf0222;
}
*/
.btn-dark-gray {
  background-color: $gray-darker;
}

.btn-mid-gray {
  background-color: $gray-dark;
}

.btn-light-gray {
  background-color: $gray;
}

.text-gray {
  color: $gray;
}
.text-gray-dark {
  color: $gray-dark;
}
.text-gray-darker {
  color: $gray-darker;
}

.btn-streched {
  width: 100%;
}

a {
  color: $brand-warning;
}

.navbar-inverse .navbar-brand {
  color: white !important;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0;
  border-top: 1px dotted #ccc;
}
.gray-border {
  border-color: $gray-light;
}

.border-solid {
  border-style: solid;
}

#menu-bar {
  background-color: $brand-primary;
  border-color: $brand-primary;
}

.navbar {
  border :none;
  margin-bottom: 0;
}
.navbar-toggle {
  border: 1px solid #eee;
  span {
    background: #eee;
  }
}

@media (min-width: $screen-md-min) {
  .navbar-header {
    float: none;
    background: url(/assets/background-stripe.png);


    h3 {
      color: white;
    }
  }
}


.navbar-nav > li > a {
  font-size: 16px;
  text-transform: uppercase;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  &.active {
    color: $brand-warning;
  }
}


#menu-bar {
  padding-top: 40px;
  background-color: #00baba;
  border-color: #00baba;
}
.navbar-brand {
  font-size: 1.7em;
  height: 90px;
  padding: 0px 20px;
}
