// import the CSS framework
@import "bootstrap-sprockets";

$gray-dark: #333;
$gray: #666;
$gray-light: #999;
$brand-primary: #cc0033;
$brand-success: #96c926;
$brand-warning: #f58229;
$container-large-desktop: 1024px;

$table-bg-accent: #eee;

$nav-link-hover-bg: transparent;
$menubar-color: #00baba;

@import "bootstrap";

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
}

// override for the 'Home' navigation link
.navbar-brand {
  font-size: 1.7em;
  height: 65px;
  padding: 0px 20px;
}

// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  padding: 30px 20px 80px 20px;
  margin-top: -10px; // accommodate the navbar
  background: white;
}

section {
  @extend .row;
  margin-top: 20px;
}

body {
  background: #eee;
}
abbr[title], abbr[data-original-title] {
  color: red;
}

.btn {
  margin-right: 5px;
}

.btn-default {
  color: #f58229;
}

.text-primary {
  color: $brand-primary;
}

.text-danger {
  color: $brand-primary;
}

.text-warning {
  color: $brand-warning;
}

.text-success {
  color: $brand-success;
}
/*
.btn-dark-red {
  background-color: #bf0222;
}
*/
.btn-dark-gray {
  background-color: $gray-darker;
}

.btn-mid-gray {
  background-color: $gray-dark;
}

.btn-light-gray {
  background-color: $gray;
}

.text-gray {
  color: $gray;
}
.text-gray-dark {
  color: $gray-dark;
}
.text-gray-darker {
  color: $gray-darker;
}

.btn-streched {
  width: 100%;
}

a {
  color: $brand-warning;
}

.navbar-inverse .navbar-brand {
  color: white !important;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0;
  border-top: 1px dotted #ccc;
}
.gray-border {
  border-color: $gray-light;
}

.border-solid {
  border-style: solid;
}

#menu-bar {
  background-color: $menubar-color;
  border-color: $menubar-color;
}

.navbar {
  border :none;
  margin-bottom: 0;
}
.navbar-toggle {
  border: 1px solid #eee;
  span {
    background: #eee;
  }
}

@media (min-width: $screen-md-min) {
  .navbar-header {
    float: none;
    background: url(/assets/background-stripe.png);


    h3 {
      color: white;
    }
  }
}


.navbar-nav > li > a {
  font-size: 16px;
  text-transform: uppercase;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;

  &.active, &:hover {
    color: #caffff;
  }
}


#menu-bar {
  padding-top: 40px;
  background-color: #00baba;
  border-color: #00baba;
}
.navbar-brand {
  font-size: 1.7em;
  height: 90px;
  padding: 0px 20px;
}

header #search {
   height: 26px;
   box-shadow: none;
   border-radius: 0px;
   margin-top: 0px;
}

.input-append input {
   margin-top: 0px;
}
header .navbar-form {
   margin-top: 0;
   margin-bottom: 0;
}

.navbar-form button {
   margin-left: -32px;
   background: none !important;
   outline: none !important;
   box-shadow: none !important;
   color: #33cccc;
   display: inline-block;
}

input {
  border: 1px solid #00baba;
  outline: 0;
  color: $gray-dark;
  &:hover {
    border: 1px solid #66afe9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  }
}
