li= link_to 'HOME', contacts_path, class: active_class('contacts')
li= link_to 'PARTIES & EVENTS', events_path, class: active_class('events')
li= link_to 'ORDER & SHOP', '/shopping/start', class: active_class('')
li= link_to 'MARKETING', contacts_path, class: active_class('')
li= link_to 'TRAINING & MEETINGS', contacts_path, class: active_class('')
li= link_to 'REPORTS', contacts_path, class: active_class('')

